.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
}

label {
    display: block;
}

button {
    margin-top: 10px;
}

.error {
    color: red;
}